<!DOCTYPE html>
<html>
<head>
<title>#{get 'title' /}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

</head>
<body bgcolor="#29363e" text="#2173af">
	<div style="width:900px; position:absolute; right:50%; margin-right:-450px;background-color:#29363e;color:#white;">
	<div style="height: 100px;">
		<div style="float: left;">
			<a href="http://www.jug-montpellier.org"><img
				src="http://www.jug-montpellier.org/public/images/logo.png"
				alt="Montpellier JUG" border="0">
			</a>
		</div>
		<div style="line-height: 60px; float: right; padding-right: 10px;">
			<a href="http://www.jug-montpellier.org">Montpellier Jug</a>
		</div>
	</div>
	<div style="background-color:#9a2101;">
		<div style="float:left;padding:10px;">
			<h1>${event.title}</h1>
			<p>
			${event.description} <a href="${host}@{Application.event(event.id)}">Plus
				d'informations</a>
			</p>
		</div>
		<div style="float: right;width:350px;padding:10px;background-color:#781a01;">
			<h2>Speakers</h2>
			#{list event.speakers(), as : "speaker"} ${speaker.fullName}<br />
				${speaker.activity}<br />
				${speaker.company}<br />
				<a href="${speaker.url}" target="blank">${speaker.url}</a><br /> <br />
			#{/list}
		</div>
		<div style="clear:both;"></div>
	</div>

		<div style="padding:10px;">
			<h2>Valider votre préInscription</h2>
			Merci de bien vouloir cliquer sur ce <a
				href="${host}@{Inscription.validCode(code)}">lien</a>.

			<h2>Sessions</h2>
			#{list event.talks, as : "talk"}
			<h3>${talk.title}</h3>
			<p>${talk.teaser}</p>
			#{/list}
		</div>
		
		<div style="background-color:#8fb704;padding:10px;">
		<h2>Partners</h2>
		
		<div style="float:left;background-color:white;padding:10px;">
			<a href="http://www.zenexity.fr"><img
					src="http://www.playapps.net/public/images/zenexity.png" />
			</a>
			<br /><a href="http://www.zenexity.fr"><img
					src="http://www.playapps.net/public/images/zenexity.png" />
			</a>
			<br/><a href="http://www.zenexity.fr"><img
					src="http://www.playapps.net/public/images/zenexity.png" />
			</a>
			
		</div>
		<div style="float:right;width:300px;text-align:left;">
			<h3>Devenir sponsor?</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla
				sagittis rhoncus ultricies. Maecenas sit amet sapien at orci
				accumsan vulputate.</p>
		</div>
		<div style="clear:both;"></div>
	</div>
		
		
		</div>
	</body></html>