<!DOCTYPE html>
<html>
<head>
<title>#{get 'title' /}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">

</head>
<body bgcolor="#29363e" text="#2173af">

<div style="background-color: white;">
	    <table width="100%" border="0" cellpadding="4" cellspacing="0"
      height="191">
      <tbody>
        <tr>
          <td valign="top" width="50" height="10"> <br>
          </td>
          <td valign="top"><img
              src="http://www.jug-montpellier.org/public/images/logo.png" width="108"
              align="top" height="83"><b><big><big><font color="#4a738c">MONTPELLIER
                    JUG</font></big></big></b><br>
          </td>
          <td valign="top" width="100"><br>
          </td>
        </tr>
        <tr>
          <td colspan="3" style="position: relative; right: 50%; margin:
            0pt -450px 0pt 0pt; background: none repeat scroll 0% 0%
            rgb(169, 36, 1); -moz-box-shadow: 5px 5px 0pt rgba(0, 0, 0,
            0.3); color: rgb(43, 10, 1);" valign="top"><br>
            <span style="font-size: 40px; line-height: 40px; color:
              white; font-weight: bold; text-decoration: none;
              text-shadow: 2px 2px 0pt rgba(0, 0, 0, 0.3); padding-left:
              20px;">${event.title}</span><br>
            <span style="font-size: 14px; line-height: 40px; color:
              white; font-weight: bold; text-decoration: none;
              text-shadow: 2px 2px 0pt rgba(0, 0, 0, 0.3); padding-left:
              20px;">${event.description}</span> </td>
        </tr>
      </tbody>
    </table>
    <br>
    <div style="color: black; font-family: Verdana,Arial; font-weight:
      normal; font-size: 13px; padding-left: 40px; padding-right: 120px;
      padding-top: 30px;"> Bonjour,<br>
      <br>
      Nous avons bien pris en compte votre demande de pr&eacute;-inscription.<br>
      Pour la valider, merci de bien vouloir cliquer sur ce
      <a href="${host}@{Inscription.validCode(code)}">lien</a>.
      <br>
      <br />
      <br />
      <h2>Rappel du programme</h2>
		#{list event.talks(), as : "talk"}
			<h3>${talk.time} : ${talk.title}</h3>
			</p>présenté par <span style="color: #4A738C;font-weight: bold;">${talk.speaker.fullName}</span></p>
			<p>${talk.teaser}</p>
		#{/list}
    </div>
    <div style="color: black; font-family: Verdana,Arial; font-weight:
      normal; font-size: 13px; padding-left: 40px; padding-right: 120px;
      padding-top: 30px;"> Cette session est aussi l'occasion de se
      rencontrer et de connaitre vos attentes vis &agrave; vis du JUG. Venez
      nombreux et faites passer l'information. La session se cloturera
      par un drink autour de discussions plus informelles. </div>
    <br>
    <table width="100%" border="0" cellpadding="4" cellspacing="0"
      height="40">
      <tbody>
        <tr>
          <td colspan="3" style="font-family: Verdana,Arial; font-size:
            11px; position: relative; right: 50%; margin: 0pt -450px 0pt
            0pt; background: none repeat scroll 0% 0% rgb(169, 36, 1);
            -moz-box-shadow: 5px 5px 0pt rgba(0, 0, 0, 0.3); color:
            white;" valign="top"> Site Web</td>
          <td colspan="3" style="font-family: Verdana,Arial; font-size:
            11px; position: relative; right: 50%; margin: 0pt -450px 0pt
            0pt; background: none repeat scroll 0% 0% rgb(169, 36, 1);
            -moz-box-shadow: 5px 5px 0pt rgba(0, 0, 0, 0.3); color:
            white;" valign="top"> Twitter</td>
          <td colspan="3" style="font-family: Verdana,Arial; font-size:
            11px; position: relative; right: 50%; margin: 0pt -450px 0pt
            0pt; background: none repeat scroll 0% 0% rgb(169, 36, 1);
            -moz-box-shadow: 5px 5px 0pt rgba(0, 0, 0, 0.3); color:
            white;" valign="top"> Google-groups </td>
          <td colspan="3" style="font-family: Verdana,Arial; font-size:
            11px; position: relative; right: 50%; margin: 0pt -450px 0pt
            0pt; background: none repeat scroll 0% 0% rgb(169, 36, 1);
            -moz-box-shadow: 5px 5px 0pt rgba(0, 0, 0, 0.3); color:
            white;" valign="top"> Contact </td>
        </tr>
        <tr>
          <td colspan="3" style="font-family: Verdana,Arial; font-size:
            11px; position: relative; right: 50%; margin: 0pt -450px 0pt
            0pt; background: none repeat scroll 0% 0% rgb(169, 36, 1);
            -moz-box-shadow: 5px 5px 0pt rgba(0, 0, 0, 0.3); color:
            white;" valign="top"> <a style="color: white;
              text-decoration: underline;"
              href="http://www.jug-montpellier.org">http://www.jug-montpellier.org</a>
          </td>
          <td colspan="3" style="font-family: Verdana,Arial; font-size:
            11px; position: relative; right: 50%; margin: 0pt -450px 0pt
            0pt; background: none repeat scroll 0% 0% rgb(169, 36, 1);
            -moz-box-shadow: 5px 5px 0pt rgba(0, 0, 0, 0.3); color:
            white;" valign="top"> @montpellierjug </td>
          <td colspan="3" style="font-family: Verdana,Arial; font-size:
            11px; position: relative; right: 50%; margin: 0pt -450px 0pt
            0pt; background: none repeat scroll 0% 0% rgb(169, 36, 1);
            -moz-box-shadow: 5px 5px 0pt rgba(0, 0, 0, 0.3); color:
            white;" valign="top"> <a style="color: white;
              text-decoration: underline;"
              href="http://groups.google.com/group/jug-montpellier">http://groups.google.com/group/jug-montpellier</a>
          </td>
          <td colspan="3" style="font-family: Verdana,Arial; font-size:
            11px; position: relative; right: 50%; margin: 0pt -450px 0pt
            0pt; background: none repeat scroll 0% 0% rgb(169, 36, 1);
            -moz-box-shadow: 5px 5px 0pt rgba(0, 0, 0, 0.3); color:
            white;" valign="top"> <a style="color: white;
              text-decoration: underline;"
              href="mailto:info@jug-montpellier.org">info@jug-montpellier.org</a>
          </td>
        </tr>
      </tbody>
    </table>

</div>


	</body></html>