#{extends 'main.html' /}
#{set title:'Show' /}
#{include 'Application/_eventHeader.html' /}
	<section id="inscription">
		<h1>Inscription ${event.title}</h1>
		<div class="inscription-register">
			#{ifErrors}
			    <p class="error">
		        ${errors[0]}
			    </p>
			#{/ifErrors}
				
			#{form @Inscription.postSubscription(event.id)}
			<h2>Inscrivez-vous</h2>
			<p>
				<label class="required" for="subscribe_email">Email</label>
				<input id="subscribe_email" type="text" size="20" value="" name="subscribeEmail">
				<span class="help">Veuillez saisir une adresse email valide. Un emai de confirmation
				vous serra envoyé avec toutes les informations nécessaires</span>
			</p>
			<p>
				<img src="@{Inscription.captcha(randomId)}"/>
				<input id="subscribe_captcha" type="text" size="20" value="" name="subscribeCaptcha">
				<input name="randomId" type="hidden" value="${randomId}">
			</p>
			<p>
		        <input class="register" type="submit" value="Submit your PreRegistration" />
		    </p>
			#{/form}
			#{if flash.success}
			    <p class="success">${flash.success}</p>
			#{/if}
		</div>
		<div class="inscription-description">
			<h3>Comment s'inscrire ?</h3>
			
			
			<h3>Informations et déplacement</h3>
			<p>
				Capacité de l'évènement : ${event.capacity} 
			</p>
			<p>
				${event.description}
			//TODO
			</p>
			#{if !event.location.equals("")}
				<p>Le lieu de la soirée est : ${event.location}</p>
			#{/if}
		</div>
	</section>
</div>

