<style>
#main article .speaker
{
	color : #4A738C;
	font-weight: bold;
}
</style>
<section id="main">
	<nav>
		<h2>Upcoming events</h2>
		<ul>
			#{list event.upComings(), as : "evt"}
			<li>
				<a href="@{Application.event(evt.id)}">${evt.title}</a>
				<span class="date">${evt.date.format('dd MMMM yyyy', 'fr')}</span>
			</li>
			#{/list}
		</ul>
		<h2>Past events</h2>
		<ul>
			#{list event.pasts(), as : "evt"}
			<li>
				<a href="@{Application.event(evt.id)}">${evt.title}</a>
				<span class="date">${evt.date.format('dd MMMM yyyy', 'fr')}</span>
			</li>
			#{/list}
		</ul>
	</nav>
	<article>
		#{if event.report != null && !event.report.equals("")}
			<h2>Compte rendu de la soirée</h2>
			${event.report}
		#{/if}
		<h2>Programme</h2>
		#{list event.talks(), as : "talk"}
			<h3>${talk.time} : ${talk.title}</h3>
			</p>présenté par <span class="speaker">${talk.speaker.fullName}</span></p>
			<p>${talk.teaser}</p>
		#{/list}

		<h2>Lieu</h2>
		<p>${event.location}</p>
		#{if event.map != null && !event.map.equals("")}
			${event.map.raw()}
		#{/if}
		<h2>After</h2>
		<p>A la fin de la soirée, une troisième mi-temps sera proposée dans un bar pour continuer à échanger et sympathiser </p>
		
		<div class="attachments">
			#{list attachments, as : "attachment"}
				<a href="@{Application.downloadEventAttachment(event.id, attachment)}">${attachment}</a> 
				#{if session.get("username").equals(play.configuration['secure.admin.username'])}
					<a href="@{Admin.rmEventAttachment(event.id, attachment)}" class="remove">x</a>
				#{/if}	
				<br />
			#{/list}
			<br />
			#{if session.get("username").equals(play.configuration['secure.admin.username'])}
				<div>
		    	#{form @Admin.addEventAttachment(event.id), method:'POST', enctype:'multipart/form-data'}
		        <input type="file" name="attachment" />
		        <button type="submit">&{'send'}</button>
			    #{/form}
			    #{if flash.success}
			    	<div class="flash-success">${flash.success}</div>
			    #{/if}
			    #{if flash.error}
			    	<div class="flash-error">${flash.error}</div>
			    #{/if}
		    	</div>
	    	#{/if}
    	</div>
	</article>
</section>

