#{extends 'main.html' /}
#{set title:'About' /}

#{include 'Application/_eventHeader.html' /}
<section id="main">
	<nav>
		<h2>About us</h2>
		<ul>
			<li><a href="#about-us">Qu'est-ce qu'un JUG?</a></li>
			<li><a href="#techno-java">Les technologies JAVA?</a></li>
			<li><a href="#jug-mtp">Le JUG Montpellier</a></li>
		</ul>
	</nav>
	<article>
		<h2 id="about-us">About us</h2>
		<h3>Qu'est-ce qu'un JUG?</h3>
		<p>Un JUG (Java™ User Group) est une communauté indépendante, constituée en association sans but lucratif, qui rassemble les acteurs régionaux (industriels, universitaires, chercheurs, étudiants, recruteurs…) qui partagent un intérêt pour la technologie Java™. L’association réunit régulièrement ses membres pour échanger leurs idées, points de vue et expériences relatifs à cette technologie. Ces échanges peuvent prendre la forme de conférences, tables rondes, démonstrations, ateliers… selon l’intervenant et le sujet.</p>
		<p>Ces réunions sont aussi l’occasion pour les participants de se rencontrer et nouer des nouveaux contacts autour du drink ou du buffet qui clôture traditionnellement les évènements d’un JUG.</p>
		<h3 id="techno-java">Les technologies JAVA</h3>
		<p>Java est un langage de programmation initialement développé par James Gosling chez Sun Microsystems. Publié en 1995, il constitue le noyau de la plateforme Java.</p>
		<p>Au fil des années, le langage Java s’est imposé aussi bien auprès des éditeurs commerciaux comme IBM, Oracle, SAP… que de la communauté « open source ». Au langage se sont ajoutées de nombreuses spécifications telles que Java Enterprise Edition pour les applications d’entreprise et Java Micro Edition pour les applications embarquées.</p>
		<h4>Sun Microsystems et les JUG</h4>
		<p>En tant qu’inventeur du langage Java™, Sun Microsystems encourage et reconnaît (label) les JUG comme vecteurs de promotion pour cette technologie (cf. http://java.sun.com/community/usergroups/).</p>
		<p>Sun Microsystems et d’autres éditeurs (ex. Atlassian, O’Reilly, Manning Publications, JetBrain…) supportent aussi les JUG en proposant un programme d’aide gratuit incluant des intervenants, des gadgets, des livres, des réductions pour des licences de logiciels ou des conférences internationales.</p>
		<h3 id="jug-mtp">Le JUG Montpellier</h3>
		<h4>Historique et contexte de l’initiative</h4>
		<p>L’initiative « JUG Montpellier» est née d’une poignée de développeurs expérimentés qui ont considéré les aspects suivants :</p>
		<ul>
			<li>L’évolution des techniques et technologies avancent à vitesse fulgurante.</li>
			<li>Il existe peu de structures indépendantes permettant de réunir les acteurs Montpelliérains des TIC (industriels, universitaires, étudiants…) autour des thématiques qui les concernent.</li>
			<li>A compléter.</li>
		</ul>
		<p>L’initiative « JUG Montpellier » constitue un élément de réponse à ces considérations en proposant aux acteurs TIC de la région, de se rassembler en une communauté indépendante et ouverte pour échanger sur les thématiques relatives aux technologies Java™ et ce dans un esprit convivial. Le JUG Montpellier compte ainsi participer au dynamisme et à l’attractivité de la région comme pôle de compétence TIC.</p>
		<h4>Objectifs</h4>
		<p>Le JUG Montpellier se fixe comme objectif de réunir les acteurs Montpelliérains des technologies Java™ pour :</p>
		<ul>
			<li>Créer une communauté indépendante « In Real Life# » (le JUG n’a pas vocation à être une nième communauté virtuelle construite autour d’un forum électronique)</li>
			<li>Favoriser les échanges entre industriels, universitaires et étudiants</li>
			<li>Partager la connaissance et les expériences autour des technologies Java™</li>
			<li>Promouvoir les technologies Java™ et associées dans la région</li>
		</ul>
		<p>Le tout dans un état d’esprit qui se veut professionnel pour le contenu et convivial pour la forme.</p>
		<h4>Activités / Projets</h4>
		<p>L’activité principale du JUG Montpellier consiste à organiser des évènements (conférences, forums, tables rondes, ateliers…) autour des technologies Java™.</p>
		<p>Pour la saison 2011, il est prévu d’organiser 5 évènements en soirée (à partir de 18h) proposant 2 à 3 sujets de conférence d’une durée de 20 à 45 minutes chacun. Ces soirées sont clôturées par un drink ou un buffet qui permet aux participants de se rencontrer et de discuter individuellement.</p>
		<p>Pour la saison 2012, il s’agira de capitaliser  sur l’expérience de 2011 en proposant à nouveau une série de 5 à 7 évènements en soirée.</p>
	</article>
</section>

