#{extends 'main.html' /}
#{set title:'View' /}

			<header>
				<div id="speakers">
					<h2>Speakers</h2>
					<dl>
						<dt>Raphaïque DE JAIE DE JIGUE</dt>
						<dd>Cours toujours</dd>
						<dd>Glandeur @Zenexity</dd>
					</dl>
					<dl>
						<dt>Jean-Séb BOUR</dt>
						<dd>CapDémat Warrior</dd>
						<dd>Grails lover ♥</dd>
					</dl>
				</div>
				<div id="presentation">
					<h1><a href="#details">J2EE: La corde et le tabouret</a></h1>
					<p>Etiam eget dictum magna. Nam vitae sodales ipsum. Cras nulla urna, tincidunt sed ornare sagittis, posuere et mi. Ut enim tortor, pellentesque eget viverra eleifend, sagittis mattis mi. Donec tempor ante a sapien venenatis ac dictum lectus commodo. Fusce euismod dolor vel elit venenatis dignissim. Sed eu ligula risus, sit amet elementum elit. <a href="#">Plus d'informations</a></p>
					<ul id="details">
						<li class="date">Mardi 12 décembre 2010 à 19h</li>
						<li class="place">à l'école SUP'info de Montpellier</li>
						<li class="register closed"><a>Inscriptions fermées</a><li>
					</ul>
				</div>
			</header>
			<section id="main">
				<nav>
					<h2>Upcoming events</h2>
					<ul>
						<li>
							<a href="#">Présentation de Play! Framework</a>
							<span class="date">Mardi 10 janvier 2011</span>
						</li>
						<li>
							<a href="#">Pourquoi il faut se débarasser de Maven</a>
							<span class="date">Mardi 10 février 2011</span>
						</li>
					</ul>
					<h2>Past events</h2>
					<ul>
						<li>
							<a href="#">J2EE: La corde et le tabouret</a>
							<span class="date">Mardi 12 décembre 2010</span>
						</li>
						<li>
							<a href="#">Le sud c'est sur-fait</a>
							<span class="date">Mardi 10 novembre 2010</span>
						</li>
						<li>
							<a href="#">Et si finalement on laissait tomber Java? Node.js POWA</a>
							<span class="date">Mardi 10 octobre 2010</span>
						</li>
						<li>
							<a href="#">Lorem ipsum dolor sit amet</a>
							<span class="date">Mardi 10 octobre 2010</span>
						</li>
						<li>
							<a href="#">Lorem ipsum dolor sit amet</a>
							<span class="date">Mardi 10 octobre 2010</span>
						</li>
					</ul>
				</nav>
				<article>
					<h2>Les sessions</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sagittis rhoncus ultricies. Maecenas sit amet sapien at orci accumsan vulputate. Donec odio metus, tempus sed malesuada id, mollis nec est. Suspendisse potenti. Pellentesque eget nulla odio. Curabitur mattis sapien sit amet leo interdum sit amet scelerisque tellus tempus. Integer ac tincidunt augue.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sagittis rhoncus ultricies. Maecenas sit amet sapien at orci accumsan vulputate. Donec odio metus, tempus sed malesuada id, mollis nec est. Suspendisse potenti. Pellentesque eget nulla odio. Curabitur mattis sapien sit amet leo interdum sit amet scelerisque tellus tempus. Integer ac tincidunt augue.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sagittis rhoncus ultricies. Maecenas sit amet sapien at orci accumsan vulputate. Donec odio metus, tempus sed malesuada id, mollis nec est. Suspendisse potenti. Pellentesque eget nulla odio. Curabitur mattis sapien sit amet leo interdum sit amet scelerisque tellus tempus. Integer ac tincidunt augue.</p>
					<h2>Compte rendu de la soirée</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sagittis rhoncus ultricies. Maecenas sit amet sapien at orci accumsan vulputate. Donec odio metus, tempus sed malesuada id, mollis nec est. Suspendisse potenti. Pellentesque eget nulla odio. Curabitur mattis sapien sit amet leo interdum sit amet scelerisque tellus tempus. Integer ac tincidunt augue.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sagittis rhoncus ultricies. Maecenas sit amet sapien at orci accumsan vulputate. Donec odio metus, tempus sed malesuada id, mollis nec est. Suspendisse potenti. Pellentesque eget nulla odio. Curabitur mattis sapien sit amet leo interdum sit amet scelerisque tellus tempus. Integer ac tincidunt augue.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sagittis rhoncus ultricies. Maecenas sit amet sapien at orci accumsan vulputate. Donec odio metus, tempus sed malesuada id, mollis nec est. Suspendisse potenti. Pellentesque eget nulla odio. Curabitur mattis sapien sit amet leo interdum sit amet scelerisque tellus tempus. Integer ac tincidunt augue.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sagittis rhoncus ultricies. Maecenas sit amet sapien at orci accumsan vulputate. Donec odio metus, tempus sed malesuada id, mollis nec est. Suspendisse potenti. Pellentesque eget nulla odio. Curabitur mattis sapien sit amet leo interdum sit amet scelerisque tellus tempus. Integer ac tincidunt augue.</p>
					<h2>Résultats des alcotests de l'after</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla sagittis rhoncus ultricies. Maecenas sit amet sapien at orci accumsan vulputate. Donec odio metus, tempus sed malesuada id, mollis nec est. Suspendisse potenti. Pellentesque eget nulla odio. Curabitur mattis sapien sit amet leo interdum sit amet scelerisque tellus tempus. Integer ac tincidunt augue.</p>
				</article>
			</section>


